.mySwiper {
    width: 80vh;
    margin: inherit;
    height: inherit;

    .img {
        width: fit-content;
        height: 100%;
    }

    @media screen and (max-width: 800px) {

        .img {
            display: none;
        }
    }
}