.cart-dropdown-container {
    position: absolute;
    width: 400px;
    height: 450px;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    border: 1px solid rgb(234, 232, 232);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
    top: 80px;
    right: 10px;
    z-index: 5;

    .cart-items {
        height: 290px;
        display: flex;
        flex-direction: column;
        overflow: auto;
        padding: 15px;
    }

    .checkout-el {
        background-color: rgb(248, 245, 245);
        padding: 5px 0 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        // margin-top: 10px;

        .cart-total {
            margin-bottom: 10px;

            .total-el {
                font-size: 1.2rem;
                font-weight: 600;
            }
        }

        button {
            margin-top: auto;
        }
    }
}