.cart-dropdown-container {
    position: absolute;
    width: 270px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid rgb(234, 232, 232);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
    top: 80px;
    right: 10px;
    z-index: 5;

    .cart-items {
        height: 290px;
        display: flex;
        flex-direction: column;
        overflow: auto;
    }

    button {
        margin-top: auto;
    }
}