.category-preview-container {
    display: flex;
    flex-direction: column;
    margin: 0 15px 30px;


    .title {
        font-size: 28px;
        margin-bottom: 25px;
        cursor: pointer;
        text-decoration: none;
        color: inherit;
    }

    .preview {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 20px;
    }
}